.ParkingArea {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 5px 30px;
}

.ParkingArea button {
    border-radius: 20px;
    height: 45%;
    opacity: 0;

    transition: opacity .3s;
}

.ParkingArea:hover button {
    opacity: 1;
}

.NotReserved {
    margin: 5px 10px ;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='28' ry='28' stroke='black' stroke-width='1' stroke-dasharray='10%2c19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 28px;
}

.Reserved {
    background-image: url("./src/Car.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.DeleteButton {
    position: absolute;
    top: -10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px !important;

    padding: 0;
}

.DeleteSVG {
    width: 15px;
    height: 15px;
}

