.Parking {
    z-index: 1;

    width: 87%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 0;
}

.Spinner {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
}
